/*Tablet*/
@media (max-width: 992px) {
  #banner .banner-inner h1 {
    font-size: 24px;
  }

  #banner .banner-inner span {
    font-size: 14px;
  }

  #nav-bar div {
    font-size: 10px;
    padding: 8px 16px;
    align-self: stretch;
  }

  #nav-bar .nav-bar-info {
    width: 40px;
  }

  #about {
    grid-template-columns: repeat(2, 1fr);
  }

  #target,
  #personal-info {
    padding: 20px 30px;
  }

  #target h1,
  #personal-info h1 {
    font-size: 24px;
  }

  #about ul,
  #about p {
    font-size: 12px;
  }

  #job-info {
    display: flex;
    justify-content: center;
  }

  #job-info .container {
    /* width: 100vw; */
    display: flex;
    gap: 20px;
    flex-direction: column;
    height: 1900px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 40px;
  }

  #job-info .container p,
  #job-info .container h3,
  #job-info .container span,
  #job-info .container h4 {
    font-size: 16px;
  }

  #job-info .container h1,
  #job-info i {
    font-size: 20px;
    padding-bottom: 24px;
  }

  #job-info .job-info-item {
    grid-template-columns: 200px 30px;
  }

  #hobby i {
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 12px;
  }

  #certificate .certificate {
    flex-direction: column;
    padding-bottom: 0px;
    border-bottom: none;
  }

  #certificate .certificate img {
    width: 100%;
  }

  #certificate .certificate-container {
    grid-template-columns: repeat(2, 250px);
    column-gap: 30px;
  }

  .certificate-container h4 {
    font-size: 14px;
  }
  .certificate-container p {
    font-size: 12px;
  }

  .java {
    border-left: none;
    padding-left: 0;
  }

  .certificate-container {
    justify-content: space-between;
  }

  .certificate-container .certificate2::before {
    content: "";
    width: 1px;
    height: 250px;
    background-color: #d6c08d;
    position: absolute;
    left: -55px;
  }
  .certificate-container .certificate2::after {
    content: "";
    width: 650px;
    height: 1px;
    background-color: #d6c08d;
    position: absolute;
    top: 270px;
    left: -370px;
  }

  #project .project-detail {
    height: 1000px;
  }

  #project .project-detail h4 {
    font-size: 16px;
  }

  #project .container {
    padding: 30px 0;
  }

  .project-grid {
    grid-template-columns: 70px 1fr;
  }

  #project .project-flex {
    display: grid;
    grid-template-columns: auto 1fr;
    padding-left: 5px;
  }

  #project .project-role {
    grid-column: 2/3;
  }

  #footer {
    width: 100vw;
  }
}
